.carousel-container {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.carousel-container::-webkit-scrollbar {
    display: none;
}
.carousel-container:active {
    cursor: grabbing;
}
.carousel-item {
    user-select: none;
}
@media (min-width: 768px) {
    .carousel-item {
        scroll-snap-type: x mandatory;
    }
    .carousel-item {
        scroll-snap-align: start;
    }
}