---
const currentYear = new Date().getFullYear();
import WarIcon from "@icons/WarBonnet.astro";
import RitualIcon from "@icons/Ritual.astro";
import MateMonocolorIcon from "@icons/MateMonocolor.astro";
import LocationIcon from "@icons/Location.astro";
---

<footer class="bg-gradient-to-b from-green-800 to-green-900 text-white py-10">
    <div class="container mx-auto max-w-[92%] sm:max-w-[80%]">
        <div class="grid md:grid-cols-3 gap-8">
            <div>
                <h3 class="text-xl font-bold mb-4">Mate Argentino</h3>
                <p class="text-sm">
                    Celebrando la rica tradición del mate en Argentina y su impacto en la cultura moderna.
                </p>
            </div>
            <div>
                <h3 class="text-xl font-bold mb-4">Enlaces Rápidos</h3>
                <ul class="space-y-2">
                    <li><a href="#historia"
                           class="flex items-center gap-2 hover:text-green-300 transition duration-300">
                        <WarIcon class="w-6 h-6"/>
                        <span>Historia</span>
                    </a></li>
                    <li><a href="#ritual"
                           class="flex items-center gap-2 hover:text-green-300 transition duration-300">
                        <RitualIcon class="w-6 h-6"/>
                        <span>Ritual</span>
                    </a></li>
                    <li><a href="#beneficios"
                           class="flex items-center gap-2 hover:text-green-300 transition duration-300">
                        <MateMonocolorIcon class="w-6 h-6"/>
                        <span>Beneficios y Variantes</span>
                    </a></li>
                    <li><a href="#cultura-moderna"
                           class="flex items-center gap-2 hover:text-green-300 transition duration-300">
                        <LocationIcon class="w-6 h-6"/>
                        <span>Cultura Moderna</span>
                    </a></li>
                </ul>
            </div>
            <div>
                <h3 class="text-xl font-bold mb-4">¿Sabías qué?</h3>
                <p class="text-sm">
                    El mate es la segunda bebida más consumida en Argentina después del agua. Una tradición que conecta
                    generaciones.
                </p>
            </div>
        </div>
        <hr class="border-t border-green-700 my-8"/>
        <div class="text-center text-sm">
            <p>&copy; {currentYear} Mate y Tradición</p>
        </div>
    </div>
</footer>
