---
import { Image } from 'astro:assets';
import mateIcon from '/public/mate-icon.svg';
---

<header>
    <nav class="bg-green-800 border-green-700">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto px-4 py-3">
            <!-- Logo y Título -->
            <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
                <Image src={mateIcon} alt="Logo Mate" height="40" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Mate y tradición</span>
            </a>

            <!-- Botón de menú para mobile -->
            <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg lg:hidden hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500" aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Abrir menú principal</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>

            <!-- Menú de navegación -->
            <div class="hidden w-full lg:block lg:w-auto" id="navbar-default">
                <ul class="font-medium flex flex-col p-4 lg:p-0 mt-4 border border-green-700 rounded-lg bg-green-900 lg:flex-row lg:space-x-8 rtl:space-x-reverse lg:mt-0 lg:border-0 lg:bg-transparent">
                    <li>
                        <a href="#historia" class="menu-item block py-2 px-3 text-white rounded hover:bg-green-700 lg:hover:bg-transparent lg:border-0 lg:hover:text-green-300 lg:p-0">Historia</a>
                    </li>
                    <li>
                        <a href="#ritual" class="menu-item block py-2 px-3 text-white rounded hover:bg-green-700 lg:hover:bg-transparent lg:border-0 lg:hover:text-green-300 lg:p-0">Ritual</a>
                    </li>
                    <li>
                        <a href="#beneficios" class="menu-item block py-2 px-3 text-white rounded hover:bg-green-700 lg:hover:bg-transparent lg:border-0 lg:hover:text-green-300 lg:p-0">Beneficios</a>
                    </li>
                    <li>
                        <a href="#cultura-moderna" class="menu-item block py-2 px-3 text-white rounded hover:bg-green-700 lg:hover:bg-transparent lg:border-0 lg:hover:text-green-300 lg:p-0">Cultura Moderna</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<script>
    const menuToggle: HTMLElement | null = document.querySelector('[data-collapse-toggle="navbar-default"]');
    const navbar: HTMLElement | null= document.querySelector('#navbar-default');
    const menuItems: NodeListOf<HTMLElement> = document.querySelectorAll('.menu-item');


    if (menuToggle && navbar) {
        menuToggle.addEventListener('click', () => {
            navbar.classList.toggle('hidden');
        });
        menuItems.forEach((item) => {
            item.addEventListener('click', () => {
                if (!navbar.classList.contains('hidden')) {
                    navbar.classList.add('hidden');
                }
            });
        });
    }
</script>
