---
import { Image } from 'astro:assets';
import mateIcon from '../assets/mate-icon.svg';
---

<header class="bg-green-800 text-white py-4 px-16 sticky top-0 z-50">
    <div class="container mx-auto px-4 flex justify-between items-center">
        <div class="flex items-center">
            <Image
              src={mateIcon}
              alt="Icono de mate"
              width={40}
              height={40}
              class="mr-3"
            />
            <h1 class="text-2xl font-bold">La Cultura del Mate</h1>
        </div>
        <nav>
            <ul class="flex space-x-6">
                <li><a href="#introduccion" class="hover:text-green-300 transition duration-300">Inicio</a></li>
                <li><a href="#historia" class="hover:text-green-300 transition duration-300">Historia</a></li>
                <li><a href="#ritual" class="hover:text-green-300 transition duration-300">Ritual</a></li>
                <li><a href="#beneficios" class="hover:text-green-300 transition duration-300">Beneficios</a></li>
                <li><a href="#cultura-moderna" class="hover:text-green-300 transition duration-300">Cultura Moderna</a></li>
            </ul>
        </nav>
    </div>
</header>