
<nav class="bg-mate-green text-white p-4">
    <ul class="flex justify-center space-x-6">
        <li><a href="#introduccion" class="hover:underline">Introducción</a></li>
        <li><a href="#historia" class="hover:underline">Historia</a></li>
        <li><a href="#ritual" class="hover:underline">Ritual</a></li>
        <li><a href="#preparacion" class="hover:underline">Preparación</a></li>
        <li><a href="#economia" class="hover:underline">Economía</a></li>
        <li><a href="#salud" class="hover:underline">Beneficios</a></li>
        <li><a href="#cultura" class="hover:underline">Cultura Popular</a></li>
    </ul>
</nav>