---
import TimelineItem from "@components/TimeLine/TimeLineItem.astro";
import SectionContainer from "../utils/SectionContainer.astro";
---

<SectionContainer id="historia" subtitle="Historia y Origen del Mate">
    <div class="relative">
        <div class="absolute h-full w-1 bg-green-500 left-1/2 transform -translate-x-1/2"></div>

        <!-- Época precolombina -->
        <TimelineItem side="right" title="Época Precolombina">
            Los guaraníes consideraban el mate un regalo divino, usándolo como bebida sagrada y símbolo de unión.
        </TimelineItem>

        <!-- Siglo XVI -->
        <TimelineItem side="left" title="Siglo XVI">
            Los españoles adoptaron el mate tras descubrir sus efectos revitalizantes. Los jesuitas promovieron su
            cultivo.
        </TimelineItem>

        <!-- Siglo XVII-XVIII -->
        <TimelineItem side="right" title="Siglo XVII-XVIII">
            El mate se popularizó en el Virreinato del Río de la Plata y se convirtió en una bebida común entre todas
            las clases.
        </TimelineItem>

        <!-- Siglo XIX -->
        <TimelineItem side="left" title="Siglo XIX">
            Durante las independencias, el mate se consolidó como un símbolo de identidad cultural en Sudamérica.
        </TimelineItem>

        <!-- Siglo XX-XXI -->
        <TimelineItem side="right" title="Siglo XX-XXI">
            El mate trascendió fronteras, ganando popularidad global y convirtiéndose en un ícono cultural en Argentina
            y Uruguay.
        </TimelineItem>

    </div>
</SectionContainer>

<script>
  import AOS from "aos";
  import "aos/dist/aos.css";

  AOS.init({
    duration: 1000,
    once: false,
  });
</script>