---
import ConsumptionItem from "@components/ModernCulture/ConsumptionItem.astro";
---

<div class="mb-12">
    <h2 class="text-2xl font-semibold text-green-700 mb-4">Consumo de Yerba Mate per Cápita</h2>
    <div class="space-y-2">
        <ConsumptionItem country="Uruguay" amount="10" percentage="100" />
        <ConsumptionItem country="Argentina" amount="7" percentage="70" />
        <ConsumptionItem country="Paraguay" amount="4.5" percentage="45" />
        <ConsumptionItem country="Brasil" amount="1.5" percentage="15" />
    </div>
</div>