---
import ConsumptionGraphic from "@components/ModernCulture/ConsumptionGraphic.astro";
import MateInPlaces from "@components/ModernCulture/MateInPlaces.astro";
import SectionContainer from "../utils/SectionContainer.astro";
---

<section id="cultura-moderna" class="bg-gradient-to-b from-green-100 to-green-200">
    <SectionContainer subtitle="La Cultura del Mate Hoy">
        <ConsumptionGraphic />
        <MateInPlaces />
    </SectionContainer>
</section>