---
const {variety, description} = Astro.props;
---

<div class="bg-white p-4 h-36 lg:h-28 rounded-lg shadow-md">
    <h4 class="font-bold text-green-800 mb-2">{variety}</h4>
    <p>{description}</p>
</div>